---
layout: blog
title: Vartopia News
---

<div class="first row">
<div class="container">
<h1>Vartopia News</h1>
</div> <!-- end container -->
</div> <!-- end row -->

{% for article in site.data.news %}
{% if forloop.first %}
<!-- latest -->
<div class="row">
<div class="container right">
<div class="grid darkbg">
<div class="oneandahalf columns bloghead">
   <h3 class="padded"><a href="{{ article.url }}" target="_new">{{ article.name }}</a></h3>
   <p class="padded">Published on:  {{ article.date }} </p>
</div>
<div class="three columns">
   <div class="latest"><h4>Latest</h4></div>  
   <a href="{{ article.url }}" target="_blank"> <img src="{{site.baseurl}}/img/news-tiles/{{ article.tile }}" style="margin-top:15px;" /> </a>
</div>

</div> <!-- /grid -->
<br />
</div> <!-- end container -->
</div> <!-- end row --> 
<!-- /latest -->

<div class="row">
<div class="divider container">
<br />
<div class="grid left">

{% else %}

<!-- section -->
<div class="margin-right left three columns">
   <a href="{{ article.url }}" target="_blank"> <img src="{{site.baseurl}}/img/news-tiles/{{ article.tile }}" /> </a>
   <h4><a href="{{ article.url }}" target="_blank">{{ article.name }}</a></h4>
   <p>Published on: {{ article.date }}</p>
</div>
<!-- /section -->

{% endif %}
{% endfor %}

</div> <!-- /grid -->
</div> <!-- end container -->
</div> <!-- end row -->







