<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/colorbox.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/movingboxes.css">
        <style>
	  /* Dimensions set via css in MovingBoxes version 2.2.2+ */
	  #slider, #slider2, #slider3, #slider4 { width: 100%; overflow:hidden;}
	  #slider li, #slider2 li, #slider3 li, #slider4 li { width: 100%;}
	</style>
        <script src="{{site.baseurl}}/js/vendor/modernizr-2.6.2.min.js"></script>

	<!-- Typekit JS code -->
	<script type="text/javascript" src="http://use.typekit.com/sus7bus.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!-- Typekit JS code end -->

</head>
