/* green button, long green button */
.green-button {	padding:8px 24px; margin-top:24px; }
.long-green-button { padding:1em 4em; margin:15px auto; }
.green-button, .long-green-button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #828082), color-stop(1, #0f0d0f) );
	background:-moz-linear-gradient( center top, #828082 5%, #0f0d0f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#828082', endColorstr='#0f0d0f');
	background-color:#828082;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #8c8c8c;
	display:inline-block;
	color:#ffffff;
	line-height:0.8em;
	font-weight:bold;
	font-style:normal;
	text-align:center;
}
.green-button:hover, .long-green-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0f0d0f), color-stop(1, #828082) );
	background:-moz-linear-gradient( center top, #0f0d0f 5%, #828082 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0d0f', endColorstr='#828082');
	background-color:#0f0d0f;
	color:#FFFFFF;
}.green-button:hlite, .long-green-button:hlite {
	position:relative;
	top:1px;
}
.green-button h3 {margin:0; padding:0;}
