/* Colors */
.darkbg {background:#222;}
.gray1 {background:#F5F5F5;}
.gray2 {background:#FAFAFA;}
.greenbg {background:#86C552;}
.white {color:#FFF;}
.whitebg {background:#FFF;}
.sky {color:#5C7AAA;}
.skybg {background:#5C7AAA; border:2px solid #5C7AAA;}
.dayskybg {background:#ACDCF7;}
.money {color:#427839;}
.moneybg {background:#427839; border:2px solid #427839;}
.orange {color:#FF6633;}
.orangebg {background:#FF6633; border:2px solid #FF6633;}
.ltorangebg {background:#F59B30;}
.bluebg {background:#5D97C1;}
