.row {width:100%;}
.container{max-width:980px;margin:0 auto; position:relative;}

/* Grid */
.grid .columns { display: inline-block;
			     text-rendering: auto;
 			     vertical-align: top;}
.grid .five {width:18%}
.grid .four {width:24%}
.grid .three {width:32%}
.grid .threesm {width:28%}
.grid .two {width:49%}
.grid .twosm {width:45%}
.grid .oneandahalf {width:67%}

.grid .push-2 {margin-left:2%}
.grid .push-5 {margin-left:5%}
.grid .push-7 {margin-left:8%}
.grid .push-10 {margin-left:10%}

/* Elements */
.inline {display:inline-block;}

