/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.site-header{min-height:45px;padding-top:3px; background:#222;}
.site-logo{float:left; text-decoration:none;}
.site-nav{float:right;
		  padding:0;
		  margin:1px 0 0;
		  list-style:none}
.site-nav a{display:block;
			padding:12px;
			background:#333;
			color:#FFF;
			text-decoration:none;
			text-transform:uppercase;
			}
.site-nav a:hover,.site-nav a:focus,.site-nav .hlite {color:#FFF;	background:#86C552;}
.inline-block-list{padding:0;margin:0;list-style:none}.inline-block-list li{display:inline-block;padding:0;margin:0;vertical-align:top}.inline-block-list li:first-child{margin-left:0}
.arrow-down, .next-text {display:inline-block; height:29px; overflow:hidden;}
.go-up {display:inline-block; padding:10px 10px 0 10px; position:absolute; right:0; bottom:0;}
.next-section {display:inline-block; padding:5px; vertical-align:middle;}
.rounded {  -moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border-radius: 10px; /* future proofing */
			-khtml-border-radius: 10px; /* for old Konqueror browsers */ }
.divider {border-top:thin solid #ccc;}
.v-divider {border-left:thin solid #ccc;}
.padded {padding:10px;}
.margin-right {margin-right:7px;}
/* Text styling */
.xl {font-size:3em; line-height:1em;}
.xl img {width:100px; height:auto;}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
.banner {padding:1em 9em; 
		 background:url(../img/banner.png) no-repeat center top;
		 }
.banner h2 {margin-top:1.5em;}
.number {font-size:60px;
         color:#5D97C1;
		 margin:0;
		 padding:0;
		 line-height:60px;}


.boxed {border:2px solid #CCC; margin:.5%; text-align:center;}

.blue-box {background:#F59B30; min-height:79px; margin:2em 4em;}
.hlite {background:#222;}
.blue-box img {display:block; float:left;}
.blue-box span{display:block; margin-left:82px; padding:15px; line-height:1em;}
.blue-box h4, .no-margin {margin:0;}
.blue-box a {color:#222;}
.hlite a {color:#649EC1;}
/* one time used styles */
.vendors-sfdc {background:url(../img/plugin-lt.png) no-repeat center center; background-size:15%;}
.vendors-solution {background:url(../img/solution-lt.png) no-repeat center center; background-size:15%;}
/* ====================== Buttons ============================= */
.request-info {padding:1em; vertical-align:middle;}
.request-info span {display:inline-block; height:100px; padding:0; margin-left:25px; float:left;}
.flip-box { width:100px; padding:0; margin-right:35px; float:left;}

.ie7 .contact-us .flip-box {
	width: 100px;
}

.image1 {
	position: absolute;
	cursor: pointer;
	width: 100px;
	height: 100px;
}

.image2 {
	position: absolute;
	cursor: pointer;
}

/* Foot slider stuff */
#bottom-container{ width: 100%; max-width:910px; height:90px; margin:0 auto; position:relative; overflow:hidden; background-color:#FFF; }
.logos { width: 100%; max-width:850px; height:auto; text-align:center; overflow:hidden;}
#logos-go div img { margin: auto; display: block }
#arr-prev{
	display:block;
	width:40px;
	height:80px;
	background:url(../img/b_prev.png) no-repeat;
	position:absolute;
	top:22px;
	left:1px;
}
#arr-next {
	display:block;
	width:40px;
	height:80px;
	background:url(../img/b_next.png) no-repeat;
	position:absolute;
	top:22px;
	right:1px;
}

/* Footer */
#afterfooter {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    width: 100%;
	min-height:90px;
}
.follow{ float:left; width:120px; text-transform:uppercase; list-style:none; }
	.follow li{ float:left; margin-left:8px; }
	.follow li:first-child{ padding-top:2px; }
	.follow a{ display:block; width:17px; height:16px; text-indent:-9999px; }
	.follow a.tw{ background:url(../img/ico-tw.png); }
	.follow a.in{ background:url(../img/ico-in.png); }


