<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/colorbox.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/movingboxes.css">
</head>
<body>
<header class="site-header cf">
<div class="darkbg row">
<div class="container">

       {% include logo.html %}
       {% include nav.html navclass='site-nav' %}
    
</div> <!-- end container -->
</div> <!-- end row -->
</header><!-- end site-header -->

{{content}}

{% include logos-go.html %}

</div> <!-- end wrap -->

{% include afterfooter.html %}
{% include logos-go-script.html %}
{% include trackers.html %}

</body>
</html>

