{% include header.html %}
<body>
<header class="site-header cf">
<div class="darkbg row">
<div class="container">


       {% include logo.html %}
       {% include nav.html navclass='site-nav' %}

    
</div> <!-- end container -->
</div> <!-- end row -->
</header><!-- end site-header -->
<div class="row">    <a id="top"><img src="{{site.baseurl}}/img/arrow-hidden.png" width="30" height="27" /></a> </div>


{{content}}


{% include logos-go.html %}

</div> <!-- end wrap -->
     
{% include afterfooter.html %}

{% if page.url contains '/vendors' %} {% include vendors-hidden-and-js.html %} {% endif %}
{% if page.url contains '/vars' %} {% include vars-hidden-and-js.html %} {% endif %}

{% include logos-go-script.html %}
{% include trackers.html %}

</body>
</html>

